.filter {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  padding-block: 1rem;
  select,
  input {
    flex: 250px 0 0;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
