@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$properties-color-icon: #fa4;
* {
  margin: 0;
  padding: 0;
}
@mixin hotel-properties {
  background: white;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  font-family: Roboto;
  span {
    padding-inline: 7px;
  }
}
.properties {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  & > * {
    margin-top: 5px;
  }
  .room {
    @include hotel-properties();
  }
  .location {
    @include hotel-properties();
  }
  .price {
    background-color: $properties-color-icon;
    display: inline-flex;
    padding: 8px;
    font-size: 1rem;
    border-radius: 10px;
  }
  .icon {
    height: 100%;
    width: 1.5rem;
    background: $properties-color-icon;
    padding: 5px;
    // color: silver;
  }
}
